<div class="thumbnail">
    <div class="intrinsic intrinsic--16x9">
        <% if (url) { %>
            <img class="ad intrinsic-item" src="<%= url %>">
        <% } else { %>
            <p class="text-muted text-center">Loading ad...</p>
        <% } %>
    </div>
    <div class="caption">
        
    </div>
</div>