<div class="thumbnail">
    <div class="intrinsic intrinsic--16x9">
        <h3 class="text-center intrinsic-item" style="font-size: <%= size %>px">
            <%= face %>
        </h3>
    </div>
    <div class="caption">
        <dl>
            <dt>ID</dt>
            <dd><%= id %></dd>
            <dt>Price</dt>
            <dd>$<%= priceInDollars %></dd>
            <dt>Added</dt>
            <dd><%= relativeDate %></dd>
        </dl>
    </div>
</div>